@import global

.row
  margin: 12px 0
  display: inline-block      
  width: 100%

.control-right
  float: right
  margin-left: 10px

.control-left
  float: left
  margin-right: 10px  

.controls-center
  text-align: center

.rounded
  border: 1px solid
  margin-bottom: 5px  
  border: 1px solid $text-color
  @include border_radius(5px)  

.mainDiv
  position: relative  

ul.clear-markers
  li
    list-style-type: none   